.header{
    padding: 0.8rem 0 3rem;
}

.title{
    color: #ca469e;
    font-size: 3rem;
    text-decoration: none;

    &:hover{
        color: #7c0c57;
    }
}

.nav-list{
    display: flex;
    margin: 0;
    list-style-type: none;
}

.nav-item{
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;

    &:hover{
        color: #666666;
    }
}

.active-nav-item{
    color: #333333;
}